.rating-buttons-parent {
  display: flex;
  margin: 2px;
}

.rating-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 25px;
  height: 25px;
  font-size: .9rem;
  margin: 0px 2px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

.rating-buttons:hover {
  background-color: gray;
  color: white;
}