li {
  text-align: center;
  list-style: none;
  width: 195px;
  height: 315px;
  color: white;
}

.img-container {
  position: relative;
  overflow: hidden;
  height: 291px;
  margin-bottom: 3px;
}

.tile-img {
  position: absolute;
  top: 1px;
  width: 99%;
  left: 0px;
}

.hover-animation {
  transform: scale(1.05);
  transition-duration: .5s;
  cursor: pointer;
  filter: blur(1px);
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 95%;
  height: 100%;
  padding: 0px 5px;
  background-color: rgba(0, 0, 0, 0.698);
  z-index: 10;
  animation: fadeIn .5s;
}

.overlay-text {
  animation: fadeIn .5s;
  color: white;
  font-size: 1.4rem;
}

.tile-rating {
  position: relative;
  margin: 0px;
  font-size: 1.2rem;
}

.star {
  position: absolute;
  right: 67px;
  top: 2px;
  height: 19px;
}