.details-grandparent {
  animation: fadeIn 1s;
}

.back-button-parent {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 15%, rgba(0, 0, 0, 0) 100%);
}

.back-button {
  height: 30px;
  margin-left: 4%;
  margin-bottom: 5px;
}

.details-parent {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: -webkit-fill-available;
  /* not sure about above */
  color: white;
  padding: 1% 6%;
}

.details-upper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 40px;
}

.test {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.poster {
  height: min(310px, 38vw);
}

.text-container {
  width: 45%;
}

.title {
  margin: 0px 0px 7px;
}

.genres {
  font-size: .6rem;
  margin-bottom: 30px;
}

.overview {
  font-size: .8rem;
  margin-bottom: 30px;
}

td {
  font-size: .8rem;
}

.td-key {
  padding-left: 25px;
}

.rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating {
  font-size: .7rem;
  text-align: center;
}

.rating-num {
  font-size: 2rem;
  margin: 0px;
}

.detail-star {
  height: 20px;
  margin-left: 5px;
}

.video-parent {
  display: flex;
  justify-content: center;
  width: 100%;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (max-width: 580px) {
  .details-upper {
    flex-direction: column;
    align-items: center
  }

  .test {
    width: 100%;
  }

  .text-container {
    width: 250px;
  }

  .rating-container {
    width: 100%;
    align-items: flex-end;
  }

  .rating {
    font-size: .5rem;
  }

  .rating-num {
    font-size: 1rem;
  }

  .detail-star {
    height: 10px;
  }
}

@media (max-width: 475px) {
  .text-container {
    width: 200px;
  }
}

/* 425
360 */