.details-grandparent {
  animation: fadeIn 1s;
}

.details-parent {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: -webkit-fill-available;
  color: white;
  padding: 1% 6%;
}

.details-upper {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.poster {
  width: min(310px, 28vw);
  height: fit-content;
}

.text-container {
  width: 40%;
}

.title {
  font-size: min(2.3rem, 3.1vw);
  margin: 0px 0px 7px;
}

.genres {
  font-size: .9rem;
  margin-bottom: 30px;
}

.overview {
  font-size: 1rem;
  margin-bottom: 30px;
}

td {
  font-size: 1rem;
}

.td-key {
  padding-left: 25px;
}

.video-parent {
  display: flex;
  justify-content: center;
  width: 600px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (max-width: 725px) {
  .video-parent {
    width: 82vw;
  }

  .title {
    font-size: 1.5rem;
  }
  
  .text-container {
    width: 50%;
  }

  .details-upper {
    margin-top: 10px;
  }
}

@media (max-width: 580px) {
  .text-container {
    width: 50%;
  }
}

@media (max-width: 470px) {
  .details-upper {
    margin-top: 25px;
  }

  .details-upper {
    flex-direction: column;
    align-items: center;
  }

  .poster {
    width: 70%;
  }

  .text-container {
    width: 70%;
    margin-top: 15px;
  }
}

/* 425
360 */
