ul {
  display: grid;
  justify-items: center;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(193px, 1fr));
  padding: 0px;
  animation: fadeIn 1s;
  margin: 15px 8%;
}

.no-matches-message {
  font-size: 1.5rem;
  color: white;
}